
/*:root {
    --color1: #DD4814;
    --linkColor: #3399cc;
    --fontColor1: #505c68;
    
    --mainFontColor: #c8c3bc;
    --whiteFontColor: #fff;
    
    --bgColor: #1F2223;
    --whiteBgColor: #181A1B;
    --borderColor: #3e4446;
}*/
