@using Asaal.Resources

@{
    ViewBag.Title = ViewsKeys.forgotPasswordConfirmation;
}

<div class="forgotPasswordConfirmation accountConfirmation text-center">
    <div class="container">

        <i class="glyphicon glyphicon-transfer"></i>
        <h2>@ViewsKeys.forgotPasswordConfirmation</h2>
        
        <p class="lead">
            @ViewsKeys.forgotPasswordConfirmationMsg
        </p>

    </div>
</div>
