@using Asaal.Resources

@{
    ViewBag.Title = ViewsKeys.resetPasswordConfirmation;
}

<div class="resetPasswordConfirmation accountConfirmation text-center">
    <div class="container">

        <i class="glyphicon glyphicon-ok"></i>
        <h2>@ViewsKeys.resetPasswordConfirmation</h2>

        <p class="lead">
            @ViewsKeys.resetPasswordConfirmationMsg 
            @Html.ActionLink(ViewsKeys.loginHere, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>

    </div>
</div>
